@model TinyERP4Fun.Models.Common.CurrencyRates

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CurrencyRates</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrecyScale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrecyScale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseCurrency.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
