@model TinyERP4Fun.ViewModels.ExpencesViewModel

@{
    ViewData["Title"] = Localization.currentLocalizatin["Expences"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localization.currentLocalizatin["Expences"]</h1>

<p>
    <a asp-action="Create">@Localization.currentLocalizatin["Create New"]</a>
    <a asp-action="IndexAdm">@Localization.currentLocalizatin["Administration"]</a>
    <a href="#" onclick="show_filter(); return false"><span id="sp_sel">@Localization.currentLocalizatin["Filter"]</span></a>
    @Model.Total
</p>

<div id="filter_form" style="display:none">
    <form asp-controller="ExpencesController" asp-action="Index" method="get" name="filter">
        <p>
            @Localization.currentLocalizatin["Currency"]:
            <select asp-for="CurrencyFilter" asp-items="Model.CurrencyFilter" class="form-control">
                <option value="">All</option>
            </select>
        </p>
        <p>
            @Localization.currentLocalizatin["From"]: <input type="date" asp-for="FromFilter" class="form-control" />
            @Localization.currentLocalizatin["To"]: <input type="date" asp-for="ToFilter" class="form-control" />
        </p>
        <p>
            @Localization.currentLocalizatin["Our Company"]:
            <select asp-for="OurCompanyFilter" asp-items="Model.OurCompanyFilter" class="form-control">
                <option value="">All</option>
            </select>
            @Localization.currentLocalizatin["Company"]:
            <select asp-for="CompanyFilter" asp-items="Model.CompanyFilter" class="form-control">
                <option value="">All</option>
            </select>
        </p>
        <p>
            @Localization.currentLocalizatin["Approved"]: <input type="checkbox" asp-for="ApprovedFilter" />
            @Localization.currentLocalizatin["Declined"]: <input type="checkbox" asp-for="DeclinedFilter" />
            @Localization.currentLocalizatin["Not Processed"]: <input type="checkbox" asp-for="NotProcessedFilter" />
        </p>
        <p>
            <input type="submit" value=@Localization.currentLocalizatin["Search"] />
        </p>
</form>
</div>
@**@
<table class="table">
    <thead>
        <tr>
            <th>
                @Localization.currentLocalizatin["Document Number"]
            </th>
            <th>
                @Localization.currentLocalizatin["Document Date"]
            </th>
            <th>
                @Localization.currentLocalizatin["Document Type"]
            </th>
            <th>
                @Localization.currentLocalizatin["Person"]
            </th>
            @*<th>
                    @Localization.currentLocalizatin["User"]
                </th>*@
            <th>
                @Localization.currentLocalizatin["Our Company"]
            </th>
            <th>
                @Localization.currentLocalizatin["Company"]
            </th>
            <th>
                @Localization.currentLocalizatin["Desired Payment Date"]
            </th>
            <th>
                @Localization.currentLocalizatin["Approved Payment Date"]
            </th>
            <th>
                @Localization.currentLocalizatin["Amount Of Payment"]
            </th>
            <th>
                @Localization.currentLocalizatin["Currency"]
            </th>
            <th>
                @Localization.currentLocalizatin["Approved"]
            </th>
            <th>
                @Localization.currentLocalizatin["Declined"]
            </th>
            <th>
                @Localization.currentLocalizatin["Purpose Of Payment"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Expences)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.OurCompany.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesiredPaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedPaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Declined)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurposeOfPayment)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localization.currentLocalizatin["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Localization.currentLocalizatin["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localization.currentLocalizatin["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Expences.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Expences.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.Expences.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    @Localization.currentLocalizatin["Previous"]
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.Expences.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    @Localization.currentLocalizatin["Next"]
</a>

@section Scripts {
    <script type="text/javascript">

        function show_filter() {
            var d = document;
            var a = d.getElementById('filter_form').style.display;
            d.getElementById('filter_form').style.display = (a == 'none') ? 'block' : 'none';
        }
    </script>
}