@model TinyERP4Fun.Models.Common.Company

@{
    ViewData["Title"] = Localization.currentLocalizatin["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localization.currentLocalizatin["Details"]</h1>

<div>
    <h4>@Localization.currentLocalizatin["Company"]</h4>
    <hr />
    @await Html.PartialAsync("DDPartial", Model)
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localization.currentLocalizatin["Edit"]</a> |
    <a asp-action="Index">@Localization.currentLocalizatin["Back to List"]</a>
</div>
