<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TinyERP4Fun</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Language" asp-action="EN">en</a>
                <a class="navbar-brand" asp-area="" asp-controller="Language" asp-action="RU">ru</a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TinyERP4Fun</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <nav class="one">
                    <ul class="topmenu">
                        <li>
                            <b>@Localization.currentLocalizatin["Common"]</b>
                            <ul class="submenu">
                                <li><a href="~/People/Index" style="color: black">@Localization.currentLocalizatin["People"]</a></li>
                                <li><a href="~/Employees/Index" style="color: black">@Localization.currentLocalizatin["Employees"]</a></li>
                                <li><a href="~/Departments/Index" style="color: black">@Localization.currentLocalizatin["Departments"]</a></li>
                                <li><a href="~/Positions/Index" style="color: black">@Localization.currentLocalizatin["Positions"]</a></li>
                                <li><a href="~/Companies/Index" style="color: black">@Localization.currentLocalizatin["Companies"]</a></li>
                                <li><a href="~/Currencies/Index" style="color: black">@Localization.currentLocalizatin["Currencies"]</a></li>
                                <li><a href="~/Cities/Index" style="color: black">@Localization.currentLocalizatin["Cities"]</a></li>
                                <li><a href="~/States/Index" style="color: black">@Localization.currentLocalizatin["States"]</a></li>
                                <li><a href="~/Countries/Index" style="color: black">@Localization.currentLocalizatin["Countries"]</a></li>
                                <li><a href="~/CurrencyRates/Index" style="color: black">@Localization.currentLocalizatin["Currency Rates"]</a></li>
                            </ul>
                        </li>
                        <li>
                            <b>@Localization.currentLocalizatin["Expences"]</b>
                            <ul class="submenu">
                                <li><a href="~/Expences/Index" style="color: black">@Localization.currentLocalizatin["Expences"]</a></li>
                                <li><a href="~/DocumentTypes/Index" style="color: black">@Localization.currentLocalizatin["Document Types"]</a></li>
                                <li><a href="~/BusinessDirections/Index" style="color: black">@Localization.currentLocalizatin["Business Directions"]</a></li>
                                <li><a href="~/CostItems/Index" style="color: black">@Localization.currentLocalizatin["Cost Items"]</a></li>
                            </ul>
                        </li>
                        <li>
                            <b>@Localization.currentLocalizatin["Stock"]</b>
                            <ul class="submenu">
                                <li><a href="~/Stock/Index" style="color: black">@Localization.currentLocalizatin["Stock"]</a></li>
                                <li><a href="~/Items/Index" style="color: black">@Localization.currentLocalizatin["Items"]</a></li>
                                <li><a href="~/Units/Index" style="color: black">@Localization.currentLocalizatin["Units"]</a></li>
                                <li><a href="~/Warehouses/Index" style="color: black">@Localization.currentLocalizatin["Warehouses"]</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localization.currentLocalizatin["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@Localization.currentLocalizatin["Privacy"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - TinyERP4Fun - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localization.currentLocalizatin["Privacy"]</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
